#Main1{
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}
#sidebar{
  float: left;
  background: black;
  color: white;
  height: 1500px;
}

.clickable:hover {
 text-decoration: underline;
}
.container{
  background= #dee5ef;
}
.jumbotron{
  background: black;
  color: white;
}
body {
  background: #d3d9e2;
}
body h1{
  font-style:italic;
  background:
}
.jumbotron h2{
  text-align: center;
}

#sub2A{
  display: none;
}

#sub2B{
  display: none;
}
#sub3A{
  display: none;
}
#sub3B{
  display: none;
}
#sub3C{
  display: none;
}
#sub3D{
  display: none;
}

.rails {
  display: none;
}
.react{
  display:none
}
.cSharp{
  display:none;
}
#IDK1{
  display:none;
}
